@import "tailwindcss";

/* Animasi Fade In untuk keseluruhan halaman */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Animasi Slide In untuk elemen saat scroll */
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-slide-in {
  animation: slideInUp 1s ease-out forwards;
}


@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.animate-shimmer {
  background-size: 200%;
  background-image: linear-gradient(90deg, rgba(255, 204, 0, 0.7) 25%, rgba(255, 170, 0, 0.5) 50%, rgba(255, 204, 0, 0.7) 75%);
  animation: shimmer 1.5s infinite linear;
}





